In [2]:
#Home tasks
#home task 1
import datetime
today = datetime.date.today()
year = today.year
class Book:
  def __init__(self, name, author, year_of_publication):
    print("Checking the book.")
    self.name = name
    self.author = author
    self.year_of_publication = year_of_publication
    self.time = year - self.year_of_publication
    if self.time>100:
      if 100 < self.time < 200:
        self.status = "Accepted. The book is stored on floor : 0."
      elif 200 <= self.time < 400:
        self.status = "Accepted. The book is stored on floor : 1."
      elif self.time >= 400:
        self.status = "Accepted. The book is stored on floor : 2."
    else:
      self.status = "Rejected. The book is not antique enough."


book1= Book('The Act', 'Ferguson', 1924)
print(f"{book1.author} wrote the book '{book1.name}'.")
print(f"This book was published in {book1.year_of_publication}.")
print(f"This book is {book1.status}")
print("-------------------------------------")
book2= Book('Flame', 'Nolan', 1932)
print(f"{book2.author} wrote the book '{book2.name}'.")
print(f"This book was published in {book2.year_of_publication}.")
print(f"This book is {book2.status}")
print("-------------------------------------")
book3= Book('Norms', 'Alfred', 1832)
print(f"{book3.author} wrote the book '{book3.name}'.")
print(f"This book was published in {book3.year_of_publication}.")
print(f"This book is {book3.status}")
print("-------------------------------------")
book4= Book('Apex', 'Samson', 1923)
print(f"{book4.author} wrote the book '{book4.name}'.")
print(f"This book was published in {book4.year_of_publication}.")
print(f"This book is {book4.status}")
print("-------------------------------------")
book5= Book('Habitat', 'Eden', 1723)
print(f"{book5.author} wrote the book '{book5.name}'.")
print(f"This book was published in {book5.year_of_publication}.")
print(f"This book is {book5.status}")
print("-------------------------------------")
book6= Book('Apocalypto', 'Menez', 1603)
print(f"{book6.author} wrote the book '{book6.name}'.")
print(f"This book was published in {book6.year_of_publication}.")
print(f"This book is {book6.status}")

Checking the book.
Ferguson wrote the book 'The Act'.
This book was published in 1924.
This book is Rejected. The book is not antique enough.
-------------------------------------
Checking the book.
Nolan wrote the book 'Flame'.
This book was published in 1932.
This book is Rejected. The book is not antique enough.
-------------------------------------
Checking the book.
Alfred wrote the book 'Norms'.
This book was published in 1832.
This book is Accepted. The book is stored on floor : 0.
-------------------------------------
Checking the book.
Samson wrote the book 'Apex'.
This book was published in 1923.
This book is Accepted. The book is stored on floor : 0.
-------------------------------------
Checking the book.
Eden wrote the book 'Habitat'.
This book was published in 1723.
This book is Accepted. The book is stored on floor : 1.
-------------------------------------
Checking the book.
Menez wrote the book 'Apocalypto'.
This book was published in 1603.
This book is Accepted. The book is stored on floor : 2.

In [3]:
#home task 2
class Pokemon:
  def __init__(self, pokemon1_name, pokemon2_name, pokemon1_power, pokemon2_power, damage_rate):
    self.pokemon1_name = pokemon1_name
    self.pokemon2_name = pokemon2_name
    self.pokemon1_power = pokemon1_power
    self.pokemon2_power = pokemon2_power
    self.damage_rate = damage_rate
team_pika = Pokemon('pikachu', 'charmander', 90, 60, 10)
print('=======Team 1=======')
print('Pokemon 1:',team_pika.pokemon1_name, team_pika.pokemon1_power)
print('Pokemon 2:',team_pika.pokemon2_name, team_pika.pokemon2_power)
pika_combined_power = (team_pika.pokemon1_power + team_pika.pokemon2_power) * team_pika.damage_rate
print('Combined Power:', pika_combined_power)

team_bulb = Pokemon("bulbasaur", "squirtle", 80, 70, 9)
print('=======Team 2=======')
print('Pokemon 1:',team_bulb.pokemon1_name, team_bulb.pokemon1_power)
print('Pokemon 2:',team_bulb.pokemon2_name, team_bulb.pokemon2_power)
pika_combined_power = (team_bulb.pokemon1_power + team_bulb.pokemon2_power) * team_bulb.damage_rate
print('Combined Power:', pika_combined_power)

=======Team 1=======
Pokemon 1: pikachu 90
Pokemon 2: charmander 60
Combined Power: 1500
=======Team 2=======
Pokemon 1: bulbasaur 80
Pokemon 2: squirtle 70
Combined Power: 1350

In [4]:
#Home task 3 - Part A
class box:
  def __init__(self, lst):
    print("Creating a Box!")
    self.lst = lst
    self.height = self.lst[0]
    self.width = self.lst[1]
    self.breadth = self.lst[2]

print("Box 1")
b1 = box([10,10,10])
print("=========================")
print("Height:", b1.height)
print("Width:", b1.width)
print("Breadth:", b1.breadth)
volume = b1.height * b1.width * b1.breadth
print(f"Volume of the box is {volume} cubic units.")
print("-------------------------")
print("Box 2")
b2 = box((30,10,10))
print("=========================")
print("Height:", b2.height)
print("Width:", b2.width)
print("Breadth:", b2.breadth)
volume = b2.height * b2.width * b2.breadth
print(f"Volume of the box is {volume} cubic units.")
b2.height = 300
print("Updating Box 2!")
print("Height:", b2.height)
print("Width:", b2.width)
print("Breadth:", b2.breadth)
volume = b2.height * b2.width * b2.breadth
print(f"Volume of the box is {volume} cubic units.")
print("-------------------------")
print("Box 3")
b3 = b2
print("Height:", b3.height)
print("Width:", b3.width)
print("Breadth:", b3.breadth)
volume = b3.height * b3.width * b3.breadth
print(f"Volume of the box is {volume} cubic units.")

Box 1
Creating a Box!
=========================
Height: 10
Width: 10
Breadth: 10
Volume of the box is 1000 cubic units.
-------------------------
Box 2
Creating a Box!
=========================
Height: 30
Width: 10
Breadth: 10
Volume of the box is 3000 cubic units.
Updating Box 2!
Height: 300
Width: 10
Breadth: 10
Volume of the box is 30000 cubic units.
-------------------------
Box 3
Height: 300
Width: 10
Breadth: 10
Volume of the box is 30000 cubic units.

In [ ]:
#Home task 3 - Part B
#Answer(1): The values of variable 'one' and 'two' will be "True". Since we write 'b3 = b2' (line 36), that's basically means that both b3 and b2
#points at the same object in memory and so their value is also the same. Thus the value of variable one and two is 'True'.

#Answer(2): The value of b2.width is 100. Yes, the value has changed since the driver code ran. Because in line 36 we wrote b3 = b2.
# That indicates the same object in memory and thus changing one value will change the other as well.

In [ ]:
#home task 4
class Order:
  def __init__(self, menu, order):
    self.menu = menu
    self.order = order
    self.items = []
    lst = self.order.split(", ")
    for i in lst:
      cur_item_name = ""
      no_of_order = ""
      for j in range(len(i)):
        if i[j] == "-":
          self.items.append(cur_item_name)
          for k in range(j+1, len(i)):
            no_of_order += i[k]
          self.items.append(int(no_of_order))
          self.items.append(self.menu.get(cur_item_name)*int(no_of_order))
        else:
          cur_item_name += i[j]


menu = {
    'Chicken_Cheeseburger' : 249,
    'Mega_Cheeseburger' : 289,
    'Fries' : 139,
    'Hot_Wings' : 99,
    'Rice_Bowl' : 299,
    'Soft_Drinks' : 50
}

order1 = Order(menu, "Chicken_Cheeseburger-2, Fries-3, Soft_Drinks-3")
print(order1.items)
print()
print('-'*35)
print('Item           x Quantity :   Price')
print('--------------   --------   -------')
index = 0
total = 0
while index < len(order1.items):
  item = order1.items[index]
  quantity = order1.items[index+1]
  price = order1.items[index+2]
  print(f'{item:20} x {quantity:2} : {price:7.2f}')
  total += price
  index += 3 # Going to next item
print('-'*35)
print(f'Total:                      {total:7.2f}')
print('-'*35)

['Chicken_Cheeseburger', 2, 498, 'Fries', 3, 417, 'Soft_Drinks', 3, 150]

-----------------------------------
Item           x Quantity :   Price
--------------   --------   -------
Chicken_Cheeseburger x  2 :  498.00
Fries                x  3 :  417.00
Soft_Drinks          x  3 :  150.00
-----------------------------------
Total:                      1065.00
-----------------------------------