In [3]:
#task 1
class NikeBangladesh:
    branches = []
    products = {'Air Jordan': 0, 'Cortez': 0, 'Zoom Kobe': 0}
    sold = 0
    def __init__(self, outlet):
        NikeBangladesh.branches.append(outlet)
        self.outlet = outlet
        self.products = {'Air Jordan': 0, 'Cortez': 0, 'Zoom Kobe': 0}
        self.sold = 0
    @classmethod
    def status(cls):
        print("Nike Bangladesh Status:")
        print(f"Branches Opened: {cls.branches}")
        print("Currently Stocked")
        print(cls.products)
        print(f"Sold: {cls.sold}")
    def details(self):
        print(f"Nike {self.outlet} outlet")
        print("Products Currently Stocked: ")
        print(self.products)
        print(f"Sold: {self.sold}")
    def restockProducts(self, p):
        for k,v in p.items():
            self.products[k] += v
            NikeBangladesh.products[k] += v
    def productSold(self, l):
        for k,v in l.items():
            self.products[k] -= v
            NikeBangladesh.products[k] -= v
            NikeBangladesh.sold += v
            self.sold += v


print("xxxxxxxxxxxxxx1xxxxxxxxxxxxxxxx")
NikeBangladesh.status()
dhaka = NikeBangladesh("Dhaka Banani")
chittagong = NikeBangladesh("Chittagong GEC")
print("xxxxxxxxxxxxxx2xxxxxxxxxxxxxxxx")
dhaka.details()
print("xxxxxxxxxxxxxx3xxxxxxxxxxxxxxxx")
chittagong.details()
print("xxxxxxxxxxxxxx4xxxxxxxxxxxxxxxx")
dhaka.restockProducts({"Air Jordan":1200,"Cortez":200,"Zoom Kobe":200})
chittagong.restockProducts({"Air Jordan":1000,"Cortez":250,"Zoom Kobe":100})
print("xxxxxxxxxxxxxx5xxxxxxxxxxxxxxxx")
NikeBangladesh.status()
print("xxxxxxxxxxxxxx6xxxxxxxxxxxxxxxx")
dhaka.productSold({"Air Jordan":760,"Cortez":90})
chittagong.productSold({"Air Jordan":520,"Zoom Kobe":70})
print("xxxxxxxxxxxxxx7xxxxxxxxxxxxxxxx")
NikeBangladesh.status()

xxxxxxxxxxxxxx1xxxxxxxxxxxxxxxx
Nike Bangladesh Status:
Branches Opened: []
Currently Stocked
{'Air Jordan': 0, 'Cortez': 0, 'Zoom Kobe': 0}
Sold: 0
xxxxxxxxxxxxxx2xxxxxxxxxxxxxxxx
Nike Dhaka Banani outlet
Products Currently Stocked:
{'Air Jordan': 0, 'Cortez': 0, 'Zoom Kobe': 0}
Sold: 0
xxxxxxxxxxxxxx3xxxxxxxxxxxxxxxx
Nike Chittagong GEC outlet
Products Currently Stocked:
{'Air Jordan': 0, 'Cortez': 0, 'Zoom Kobe': 0}
Sold: 0
xxxxxxxxxxxxxx4xxxxxxxxxxxxxxxx
xxxxxxxxxxxxxx5xxxxxxxxxxxxxxxx
Nike Bangladesh Status:
Branches Opened: ['Dhaka Banani', 'Chittagong GEC']
Currently Stocked
{'Air Jordan': 2200, 'Cortez': 450, 'Zoom Kobe': 300}
Sold: 0
xxxxxxxxxxxxxx6xxxxxxxxxxxxxxxx
xxxxxxxxxxxxxx7xxxxxxxxxxxxxxxx
Nike Bangladesh Status:
Branches Opened: ['Dhaka Banani', 'Chittagong GEC']
Currently Stocked
{'Air Jordan': 920, 'Cortez': 360, 'Zoom Kobe': 230}
Sold: 1440

In [4]:
#task 2
class Player:
    total = 0
    pList = []
    def __init__(self, name= None, jersey=10, team=None):
        self.name = name
        self.team = team
        self.jersey= jersey
        if self.name != None:
            Player.pList.append(self.name)
        Player.total += 1
    def set_name(self, name):
        self.name = name
        Player.pList.append(name)
    def set_team(self, team):
        self.team = team
    def set_number(self, num):
        self.jersey = num
    def player_detail(self):
        res = f"Player Name: {self.name}\n"
        res += f"Jersey Number: {self.jersey}\n"
        res += f"Country: {self.team}"
        return res
    @classmethod
    def info(cls):
        a = ", ".join(cls.pList)
        res = f"Total number of players: {cls.total}\n"
        res += f"Players enlisted so far: {a}"
        print(res)


print("Total number of players:", Player.total)
print("---------------------------")
p1 = Player()
p1.set_name("Neymar")
p1.set_team("Brazil")
print(p1.player_detail())
print('========================')
Player.info()
print("---------------------------")
p2 = Player("Ronaldo")
p2.set_number(7)
p2.set_team("Portugal")
print(p2.player_detail())
print('========================')
Player.info()
print("---------------------------")
p3 = Player("Messi")
p3.set_team("Argentina")
print(p3.player_detail())
print('========================')
Player.info()
print("---------------------------")
p4 = Player("Mbappe", 10, "France")
print(p4.player_detail())
print('========================')
Player.info()

Total number of players: 0
---------------------------
Player Name: Neymar
Jersey Number: 10
Country: Brazil
========================
Total number of players: 1
Players enlisted so far: Neymar
---------------------------
Player Name: Ronaldo
Jersey Number: 7
Country: Portugal
========================
Total number of players: 2
Players enlisted so far: Neymar, Ronaldo
---------------------------
Player Name: Messi
Jersey Number: 10
Country: Argentina
========================
Total number of players: 3
Players enlisted so far: Neymar, Ronaldo, Messi
---------------------------
Player Name: Mbappe
Jersey Number: 10
Country: France
========================
Total number of players: 4
Players enlisted so far: Neymar, Ronaldo, Messi, Mbappe

In [6]:
#task 3
class SultansDine:
    total = 0
    sell = 0
    branch = {}
    def __init__(self, outlet):
        self.outlet = outlet
        self.bsell = 0
        SultansDine.total += 1
    def sellQuantity(self, quan):
        if quan<10:
            b = 300
        elif quan<20:
            b = 350
        else:
            b = 400
        self.bsell += quan * b
        SultansDine.sell += quan * b
        SultansDine.branch[self.outlet] = quan * b
    def branchInformation(self):
        print(f"Branch Name: {self.outlet}")
        print(f"Branch Sell: {self.bsell} Taka")
    @classmethod
    def details(cls):
        print(f"Total Number of branch(s): {cls.total}")
        print(f"Total Sell: {cls.sell} Taka")
        for k,v in cls.branch.items():
            print(f"Branch Name: {k}, Branch Sell: {v} Taka")
            print(f"Branch consists of total sell's: {round((v/cls.sell)*100,2)}%")
SultansDine.details()
print('########################')
dhanmondi = SultansDine('Dhanmondi')
dhanmondi.sellQuantity(25)
dhanmondi.branchInformation()
print('-----------------------------------------')
SultansDine.details()

print('========================')

baily_road = SultansDine('Baily Road')
baily_road.sellQuantity(15)
baily_road.branchInformation()
print('-----------------------------------------')
SultansDine.details()

print('========================')

gulshan = SultansDine('Gulshan')
gulshan.sellQuantity(9)
gulshan.branchInformation()
print('-----------------------------------------')
SultansDine.details()

Total Number of branch(s): 0
Total Sell: 0 Taka
########################
Branch Name: Dhanmondi
Branch Sell: 10000 Taka
-----------------------------------------
Total Number of branch(s): 1
Total Sell: 10000 Taka
Branch Name: Dhanmondi, Branch Sell: 10000 Taka
Branch consists of total sell's: 100.0%
========================
Branch Name: Baily Road
Branch Sell: 5250 Taka
-----------------------------------------
Total Number of branch(s): 2
Total Sell: 15250 Taka
Branch Name: Dhanmondi, Branch Sell: 10000 Taka
Branch consists of total sell's: 65.57%
Branch Name: Baily Road, Branch Sell: 5250 Taka
Branch consists of total sell's: 34.43%
========================
Branch Name: Gulshan
Branch Sell: 2700 Taka
-----------------------------------------
Total Number of branch(s): 3
Total Sell: 17950 Taka
Branch Name: Dhanmondi, Branch Sell: 10000 Taka
Branch consists of total sell's: 55.71%
Branch Name: Baily Road, Branch Sell: 5250 Taka
Branch consists of total sell's: 29.25%
Branch Name: Gulshan, Branch Sell: 2700 Taka
Branch consists of total sell's: 15.04%